<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<body>
	<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
	<!-- <nav class="sidebar" th:fragment="nav-sidebar"> -->
		<ul class="nav nav-pills">
			<li class="nav-item"><a class="nav-link " href="/"> <i
					class="oi oi-home"></i> <span th:text="#{sidebar.link.home}">Home</span>
			</a></li>
		</ul>		
		<ul class="nav nav-pills">
			
			<a href="#financeiroMenu"
				data-toggle="collapse" 
				aria-expanded="true" 
				class="nav-item">
				<span class="nav-link active" th:text="#{sidebar.link.modulofinanceiro}">Financeiro</span>
			</a>
			<ul class="list-unstyled collapse s-100" id="financeiroMenu" style="">
				<li class="nav-item">
				    <a href="#tipoFinanceioSubmenu"
						data-toggle="collapse" 
						aria-expanded="true" 
						class="nav-item">
						<span class="nav-link active" th:text="#{sidebar.link.tipofinanceiro}">Financeiro</span>
					</a>
					<ul class="list-unstyled collapse" id="tipoFinanceioSubmenu" style="">
					    <li class="nav-item"><a class="nav-link"
							href="/tipofinanceiro/listar"> <i class="oi oi-spreadsheet"></i>
								<span th:text="#{sidebar.link.listar}">Listar </span>
						</a></li>
						<li class="nav-item"><a class="nav-link" 
							href="/tipofinanceiro/cadastrar"> <i class="oi oi-plus"></i> <span th:text="#{sidebar.link.cadastrar}">Cadastrar </span>
						</a></li>
					</ul>
				</li>
				<li class="nav-item">
				    <a href="#financeioSubmenu"
						data-toggle="collapse" 
						aria-expanded="true" 
						class="nav-item">
						<span class="nav-link active" th:text="#{sidebar.link.financeiro}">Financeiro</span>
					</a>
					<ul class="list-unstyled collapse" id="financeioSubmenu" style="">
					    <li class="nav-item"><a class="nav-link"
							href="/tipofinanceiro/listar"> <i class="oi oi-spreadsheet"></i>
								<span th:text="#{sidebar.link.listar}">Listar </span>
						</a></li>
						<li class="nav-item"><a class="nav-link" 
							href="/tipofinanceiro/cadastrar"> <i class="oi oi-plus"></i> <span th:text="#{sidebar.link.cadastrar}">Cadastrar </span>
						</a></li>
					</ul>
				</li>
			</ul>
		</ul>
		
		<!--<ul class="nav nav-pills">
			<li class="nav-item"><span class="nav-link active" th:text="#{sidebar.link.departamento}">Departamentos</span></li>
			<li class="nav-item"><a class="nav-link"
				href="/departamentos/cadastrar"> <i class="oi oi-plus"></i> <span th:text="#{sidebar.link.cadastrar}">Cadastrar</span>
			</a></li>
			<li class="nav-item"><a class="nav-link"
				href="/departamentos/listar"> <i class="oi oi-spreadsheet"></i>
					<span th:text="#{sidebar.link.listar}">Listar </span>
			</a></li>
		</ul>

		<ul class="nav nav-pills">
			<li class="nav-item"><span class="nav-link active" th:text="#{sidebar.link.cargo}">Cargos</span></li>
			<li class="nav-item"><a class="nav-link" 
				href="/cargos/cadastrar"> <i class="oi oi-plus"></i> <span th:text="#{sidebar.link.cadastrar}">Cadastrar </span>
			</a></li>
			<li class="nav-item"><a class="nav-link" 
				href="/cargos/listar"> <i
					class="oi oi-spreadsheet"></i> <span th:text="#{sidebar.link.listar}">Listar </span>
			</a></li>
		</ul>

		<ul class="nav nav-pills">
			<li class="nav-item"><span class="nav-link active" th:text="#{sidebar.link.funcionario}">Funcionários</span></li>
			<li class="nav-item"><a class="nav-link" 
				href="/funcionarios/cadastrar"> <i class="oi oi-plus"></i> <span th:text="#{sidebar.link.cadastrar}">Cadastrar </span>
			</a></li>
			<li class="nav-item"><a class="nav-link" 
				href="/funcionarios/listar"> <i class="oi oi-spreadsheet"></i> <span th:text="#{sidebar.link.listar}">Listar </span>
			</a></li>
		</ul>-->
	</nav>
</body>
</html>