<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
	<meta charset="UTF-8" />
</head>
<body>
	
	<section class="layout-content" layout:fragment="corpo">
	
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span>Home</span>
					</li>
				</ul>
			</div>
		</nav>
		
		<div class="container">
		
			<div class="card-deck">
			  <a class="card" href="/modulos/financeiro">
			    <img class="card-img-top" src="image/financeiro.png" alt="Card image cap">
			    <div class="card-body">
			      <h5 class="card-title">Financeiro</h5>
			    </div>
			  </a>
			</div>
		
		</div>
		
	</section>		
	
</body>
</html>